<div class="container">
  <div class="row">
    <div class="col">
      <h2>about</h2>
          豊富な種類取り揃えています<br />
          お子様から食べれるものも多数あります。<br />
          全国どこでも配送致しますので、どうぞこの機会に...。
   </div>
  </div>
</div>
